<div id="about">
  <div class="container padding2">
    <div class="col-md-12">
      <div class="">
        <h2>Who We Are & What We Do</h2>
        <hr>
      </div>
      <div>
        <p>Inspired by a life-changing event, Profugees was established in 2017 in
          Amman, Jordan. Your support made us become one of the
          most trusted and effective charitable foundations, working hard to improve the
          lives of those in need just by sharing their stories!
        </p>
      </div>
    </div>
  </div>
</div>

<div id="about1">
  <div class="container">
    <!--<div class="row">-->
      <!-- <div class="col-xs-12 col-md-3 "> -->
        <!-- <div class="about-img"><img src="img/about.jpg" class="img-responsive" alt=""></div> -->
      <!--</div>-->
    <div class="col-md-12">
      <div class="">
        <h2>Our Vision</h2>
        <hr>
      </div>
      <div>
        <p>"We believe in the inspiration of a refugee's story, so we would
        like to create global volunteering by people and organizations to help
        in the creation of projects which express a refugee's story and
        support their ambitions."</p>
      </div>
    </div>
  </div>
</div>