<div class="container padding2">
  <% provide(:title, 'Form') %>
  <p><br>
  Fill the form to let us know that you're a refugee.</p>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Full Name" %>

        <%= f.label :name, "Date Of Birth" %>
        <%= f.date_field :name, class: 'form-control', placeholder: "Day/Month/Year" %>
        
        <%= f.label :name, "ID" %>
        <%= f.number_field :name, class: 'form-control', placeholder: "" %>

        <%= f.label :name, "Your idea" %>
        <%= f.text_area :name, class: 'form-control', placeholder: "200 words minimum" %>

        <%= f.label :name, "Story" %>
        <%= f.text_area :name, class: 'form-control', placeholder: "" %>

        <%= f.label :name, "A picture of you (Optional)" %>
        <%= f.file_field :name, class: 'form-control', placeholder: "" %>

        <%= f.label :name, "A YouTube video of your idea (optional)" %>
        <%= f.url_field :name, class: 'form-control', placeholder: "https://youtu.be/example" %>

        <%= f.label :name, "Fund needed" %>
        <%= f.number_field :name, class: 'form-control', placeholder: "" %>

        <%= f.label :name, "Deadline (1 year maximum)" %>
        <%= f.date_field :name, class: 'form-control', placeholder: "Day/Month/Year" %>

        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>