<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>Profugees</h1>
            <p>Innovation Redefined</p>
            <!-- <a href="#about" class="btn btn-custom btn-lg page-scroll">Discover Story</a> </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="container">
  <div class="page-header">
				<h2><%= link_to "Projects", projects_path, class: "color" %><small></small></h2>
				<hr>
	</div><!-- End of Page Header -->
  <div class="row">
  
  </div>
</div>
<% end %>