<div class="container padding2">
  <% provide(:title, 'Edit user') %>
  <% provide(:button_text, 'Save changes') %>
  <h1>Update your profile</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'form' %>
      <div class="gravatar_edit">
        <%= gravatar_for @user %>To change your profile picture, you have to sign up at
        <a href="http://gravatar.com" target="_blank">Gravatar.com</a>
        and upload your pic
        <a href="http://gravatar.com/emails" target="_blank">here</a>
      </div>
    </div>
  </div>
</div>
