<div class="container padding2">
  <% provide(:title, 'All users') %>
  <h1>All users</h1>

  <%= will_paginate %>

  <ul class="users">
    <%= render @users %>
  </ul>

  <%= will_paginate %>
</div>
