<div class="container padding2">
  <% provide(:title, 'All Projects') %>
  <h1>Projects</h1>

  <%= will_paginate %>

  <ul class="projects">
    <%= render @projects %>
  </ul>

  <%= will_paginate %>
</div>
