<%= simple_form_for(@refugee) do |f| %>
  <%= render 'shared/error_messages', object: @refugee %>

  <%= f.label :name %>
  <%= f.input :name, class: 'form-control' %>

  <%= f.label :refugeeID %>
  <%= f.input :refugeeID %>

  <%= f.label :story %>
  <!-- data-provider="summernote" -->
  <%= f.input :story, as: :summernote %>


  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>