<div class="container padding2">
  <% provide(:title, "Edit refugee") %>
  <h1>Update refugee's info</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for(@refugee) do |f| %>

       <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :iD %>
        <%= f.number_field :refugeeID, class: 'form-control' %>

        <%= f.label :story %>
        <!-- data-provider="summernote" -->
        <%= f.input :story, class: 'form-control', as: :summernote %>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
