<div class="container padding2">
  <% provide(:title, 'All refugees') %>
  <h1>All refugees</h1>

  <%= will_paginate %>

  <ul class="users">
    <%= render @refugees %>
  </ul>

  <%= will_paginate %>
</div>
