<div class="container padding3">
  <% provide(:title, 'Add Refugees') %>
  <h1>Add a Refugee</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for(@refugee) do |f| %>

        <%= f.input :name, class: 'form-control' %>

        <%= f.input :refugeeID, class: 'form-control' %>

        <!-- data-provider="summernote" -->
        <%= f.input :story, as: :summernote %>

        <%= f.submit "Add refugee", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>