<!--
<div class="container padding3">
    <% provide(:title, @refugee.name) %>
  <div class="row">
    <aside class="col-md-12">
      <section class="user_info">
        <h1>
          <%= @refugee.name %>
        </h1>
        <p>
          <%= @refugee.story.html_safe %>
        </p>
      </section>
    </aside>
  </div>
</div>
-->

<div class="container padding3">
  <h1><%= @refugee.name %></h1>
  <div class="row">
    <div class="col-lg-6">
      <p><%= @refugee.story.html_safe %></p>
    </div>
    <div class="col-lg-3">
    </div>
    <div class="col-lg-3">
      <h3>Featured Post</h3>
      <hr>
      
    </div>
  </div>
</div>