<!--
<footer id="footer">
  <small>
    &copy; Profugees
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>

-->
<!-- ------------------ -->

<!--<div id="footer">-->
<footer class="footer">
  <div class="container text-center">
    <div class="col-md-4">
      <h3></h3>
      <div class="contact-item">
        <p></p>
        <p></p>
      </div>
    </div>
    <div class="col-md-4">
      <h3></h3>
      <div class="contact-item">
        <p></p>
        <p></p>
      </div>
    </div>
    <div class="col-md-4">
      <h3></h3>
      <div class="contact-item">
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center copyrights">
    <div class="col-md-8 col-md-offset-2">
      <div class="social">
        <ul>
          <li><a href="https://www.facebook.com/Profugees-387829534925909/" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "ContactUs", contact_path %><li>
        </ul>
      </div>
      <p>&copy; 2017 Profugees. All rights reserved.</p>
    </div>
  </div>
</footer>